{% extends "base.html" %}
{% load dict_lookup %}

{% block head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<link href="https://google-developers.appspot.com/maps/documentation/javascript/examples/default.css" rel="stylesheet">
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
function initialize() {
    var mapOptions = {
      zoom: 18,
      center: new google.maps.LatLng{{center}},
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);
    var image = 'http://png-4.findicons.com/files//icons/2482/icons8_ever_growing_set_of_windows_8_metro_style_icons/26/wifi.png'
    var flag = 'https://developers.google.com/maps/documentation/javascript/examples/images/beachflag.png';
    
{% for b in bssids %}
    var myLatLng = new google.maps.LatLng{{ apdict|key:b }};
    var marker = new google.maps.Marker({position: myLatLng, map: map, icon: {% if b == bssid %}flag{%else%}image{%endif%}});
    google.maps.event.addListener(marker, "click", function() { window.location = '/apple-wloc/{{b}}'; });
    google.maps.event.addListener(marker, "dblclick", function() { alert(0); });
{% endfor %}
}
</script>
{% endblock %}

{% block content %}
<h2>BSSID</h2>
<input id="BSSID" value="{{ bssid }}">
<input type="submit" value="Go" onclick='window.location="/apple-wloc/"+document.getElementById("BSSID").value'>
{% if hits %}{{hits}} APs returned.{%endif%}
<div id="map_canvas"></div>
{% endblock %}
